<div class="fruit">
    <div class="fruit-details">
       <div class="product-organic">
    <h4 class="{%Not-Organic%}">Organic</h4>
       </div>
<div class="product-image">
   <p class="product-image">{%PRODUCTIMAGE%}</p>
</div>
<div class="product-name">
   <h1 class="product-name">{%PRODUCTNAME%}</h1>
</div>
<div class="product-origin">
   <h4 class="product-origin">From:{%PRODUCTFROM%}</h4>
</div>
<div class="product-price">
   <h4 class="product-price">{%PRODUCTPRICE%}Ksh</h4>
</div>
<div class="product-details">
   <a href="/products?id={%ID%}">
      DETAILS🏹 
   </a>
</div>
</div>

</div> 